<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.quiz.lesson04.mapper.AddSellerMapper">
 	<insert id="insertSeller" parameterType="map">
 		INSERT INTO seller
 		(
		nickname
		,profileImageUrl
		,temperature
		,createdAt
		,updatedAt)
 		VALUES
 		(
 		#{nickname}
 		,#{profileImageUrl}
 		,#{temperature}
 		,NOW()
 		,NOW()
 		)
 	</insert>
 	<select id="selectSellerInfoLast" resultType="com.quiz.lesson04.domain.SellerInfo">
 		SELECT * FROM `seller` ORDER BY id DESC limit 1
 	</select>
 	<select id="selectSellerbyId" parameterType="int" resultType="com.quiz.lesson04.domain.SellerInfo">
 		SELECT * FROM `seller` where id=#{id}
 	</select>
 </mapper>