<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quiz.weatherhistory.mapper.AddWeatherMapper">
	<insert id="insertWeather" parameterType="com.quiz.weatherhistory.domain.WeatherHistory"
	useGeneratedKeys="true" keyProperty="id">
	INSERT INTO weather_history
	(
	date
	,weather
	,temperatures
	,precipitation
	,microDust
	,windSpeed
	,createdAt
	,updatedAt
	)
	VALUES
	(
	#{date}
	,#{weather}
	,#{temperatures}
	,#{precipitation}
	,#{microDust}
	,#{windSpeed}
	,NOW()
	,NOW()
	)
	</insert>
	<select id="selectWeatherHistory" resultType="com.quiz.weatherhistory.domain.WeatherHistory">
		SELECT * FROM weather_history 
	</select>
</mapper>