<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.quiz.lesson03.mapper.RealestateMapper">
	<select id="selectRealestate" parameterType="int" resultType="com.quiz.lesson03.domain.Realestate">
		SELECT
			updatedAt,
			type,
			rentPrice,
			realtorId,
			price,
			id,
			createdAt,
			area,
			address
		FROM 
		`real_estate` where id=#{id}
	</select>
	<select id="selectRealestateRentPrice" parameterType="int" resultType="com.quiz.lesson03.domain.Realestate">
		SELECT
			updatedAt,
			type,
			rentPrice,
			realtorId,
			price,
			id,
			createdAt,
			area,
			address
		FROM 
		`real_estate` 
		where 
		<![CDATA[
        rentPrice< #{rent_price}
        ]]>
	</select>
	<select id="selectRealestate3" parameterType="hashMap" resultType="com.quiz.lesson03.domain.Realestate">
		SELECT
			updatedAt,
			type,
			rentPrice,
			realtorId,
			price,
			id,
			createdAt,
			area,
			address
		FROM 
		`real_estate` 
		where 
		<![CDATA[
        type='매매' and 
        area >= #{area}
        and 
        price <= #{price}
        
        ]]>
	</select>
	<insert id="insertRealestate" parameterType="com.quiz.lesson03.domain.Realestate">
		INSERT INTO real_estate (
		    realtorId
			,address
			,area
			,type
			,price
			,rentPrice
			,createdAt
			,updatedAt
		)
		VALUES
		(
			#{realtorId}
			,#{address}
			,#{area}
			,#{type}
			,#{price}
			,NULL
			,now()
			,now()
		) 
	</insert>
	<insert id="insertRealestatebyRealtorId" parameterType="map">
		INSERT INTO real_estate (
		    realtorId
			,address
			,area
			,type
			,price
			,rentPrice
			,createdAt
			,updatedAt
		)
		VALUES
		(
			#{realtorId}
			,#{address}
			,#{area}
			,#{type}
			,#{price}
			,#{rentPrice}
			,now()
			,now()
		) 
	</insert>
	<update id="updateRealestatebyId" parameterType="map">
		UPDATE real_estate 
		SET type=#{type}
			,price=#{price}
			,updatedAt=now()
		WHERE id=#{id}
	</update>
	<delete id="deleteRealestatebyId" parameterType="int">
		DELETE from real_estate WHERE id=#{id}
	</delete>
</mapper>