<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <title></title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</head>
<body>
	<img src="/img/sunny.jpg">
	<div class="container">
		<h1>회원정보 리스트</h1>
		<table class="table">
			<tr>
				<th>No</th>
				<th>이름</th>
				<th>생년월일</th>
				<th>전화번호</th>
				<th>국적</th>
				<th>이메일</th>
				<th>자기소개</th>
			</tr>
			<tr th:each="member,status: ${members}">
				<td th:text="${status.count}"></td>
				<td th:text="${member.Name}"></td>
				<td th:text="${member.Birth}"></td>
				<td>
					<span th:if="${#strings.startsWith(member.PhoneNumber,'010')}"  th:text="${member.PhoneNumber}"></span>
					<span th:unless="${#strings.startsWith(member.PhoneNumber,'010')}">유효하지 않은 번호</span>
				</td>
				<td th:text="${member.Nationality.replace('삼국시대','삼국-')}"></td>
				<td >
					<span th:text="${member.Email.split('@')[0]}" style='font-weight: bold;'></span>@
					<span th:text="${member.Email.split('@')[1]}"></span>
				</td>
				<td>
					<span th:if="${member.Introduce.length<=15}"  th:text="${member.Introduce}"></span>
					<span th:unless="${member.Introduce.length<=15}" th:text="${member.Introduce.substring(0,15)}"></span>
				</td>
				
			</tr>
		</table>
	</div>
</body>
</html>