<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<meta charset="UTF-8">
<title>Quiz01</title>
</head>
<body>
	<h1>1. 변수</h1>
	<div th:with="num1=36, num2=3">
		<h2 th:text="'첫번째 숫자:' + ${num1}"></h2>
		<h2 th:text="|두번째 숫자: ${num2}|"></h2>
		
		<h1>2. 산술연산</h1>
		<h2 th:text="'더하기: ' + ${num1 + num2}"></h2>
		<h2 th:text="'빼기: ' + ${num1 - num2}"></h2>
		<h2 th:text="|곱하기: ${num1 * num2}|"></h2>
		<h2 th:text="|나누기: ${num1 / num2}|"></h2>
		
		<h1>3. 태그 그대로 출력</h1>
		<h2 th:utext="'<h3>안녕하세요</h3>'"></h2>
		
		<h1>4. if와 unless</h1>
		<div th:with="average=${(num1 + num2) / 2}">
			<div th:if="${average >= 10}">
				<h1 th:text="${average}"></h1>
			</div>
			<h3 th:unless="${average >= 10}" th:text="${average}"></h3>
		</div>
	</div>
</body>
</html>