<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <title>즐겨찾기 추가</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<h1>즐겨찾기 추가</h1>
		
		<div class="form-group">
			<label for="name">제목</label>
			<input type="text" id="name" class="form-control">
		</div>
		<div class="form-group">
			<label for="url">URL 주소</label>
			<input type="text" id="url" class="form-control">
		</div>
		
		<button type="button" id="addBtn" class="btn btn-success btn-block">추가</button>
	</div>
	
	<script>
		$(function() {
			// 추가 버튼
			$("#addBtn").on("click", function() {
				let name = $("#name").val().trim();
				let url = $("#url").val().trim();
				
				if (name == "") {
					alert("사이트명을 입력하세요");
					return;
				}
				
				if (!url) {
					alert("주소를 입력하세요");
					return;
				}
				
				// http 또는 https 프로토콜까지 모두 입력되었는지
				// http도 아니고 https도 아니면 alert
				if (url.startsWith("http://") == false 
						&& url.startsWith("https://") == false) {
					alert("주소 형식이 잘못되었습니다");
					return;
				}
				
				console.log(name);
				console.log(url);
				
				//alert("추가");
				// AJAX 통신
				$.ajax({
					// request
					type:"post"
					, url:"/lesson06/add-bookmark"
					, data:{"name":name, "url":url}
					
					// response - callback 함수	
					//{"code":200,"result":"성공"}->응답 JSON String
					, success:function(data) { // data:응답 JSON String->jquery ajax함수가 parsing함=>dictionary
						//alert(data.code); //jquery의 키로 값을 띄울수 있음
						//alert(data.result);
						if(data.code==200){
							//목록화면으로 이동(GET)
							location.href="/lesson06/bookmark-list-view";
						}
					}
					, error:function(error) {
						alert("추가하는데 실패했습니다.");
					}
				});
			});
		});
	</script>
</body>
</html>